// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$orange: #bd5d38;

$lightblue: #0598f2;

// Override Bootstrap default state colors

$primary: $lightblue;
